/* reset  */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #181712;
}

/* vars */

html {
  --color-primary: #f41f7b;
}

/* typography */

body {
  font-family:'Noto Sans HK', sans-serif;
  font-size: 16px;
  color: #f0f0f0;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 44px;
}

h2 {
  font-size: 50px;
  font-weight: lighter;
}

p {
  font-size: 16px;
}

/* components */

.icon {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 5px;
}

.icon:hover {
  color: var(--color-primary);
  transform: scale(1.5);
  transition: 1s;
}

.add-book-btn {
  background-color: #f41f7b;
  border: none;
  color: #f0f0f0;
  font-size: 30px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 1px 10px #ff8ba0;
}

.add-book-btn:hover {
  color: #181712;
  box-shadow: none;
  transition: 1s;
}

/* layout */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

/* site header */

#site-header {
  text-align: center;
}

/* site main */

.library {
  text-align: center; 
}

.introduction {
  /* display: none; */
  margin-bottom: 5px;
  text-align: center;
}

.introduction h2 {
  margin-bottom: 5px;
}

.introduction p {
  padding-top: 5px;
  margin-top: 0;
}

.introduction .add-book-btn {
  position: fixed;
  top: 69%;
  left: 41%;
}

/*NEW BOOK FORM*/

#new-book {
  display: none;
  max-width: 300px; /*mobile need media query */
  margin: 0 auto;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #181712;
  text-align: left;
}

#close-form {
  float: right;
  font-size: 25px;
}

#close-form:hover {
  transform: scale(1.5) rotate(180deg);
}

#form-legend {
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}

#new-book fieldset {
  border: none;
}

.book-text-input input {
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #181712;
  font-size: 16px; 
}

.book-text-input {
  position: relative;
}

.book-text-input label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
  color: #757571;
  transition: .5s;
}

.book-text-input:focus {
  border-bottom: 2px solid #f41f7b;
}

.book-text-input:focus ~ label,
.book-text-input:valid ~ label {
  top: -12px;
  left: 0;
  color: #f41f7b;
  font-size: 12px;
  font-weight: bold;
}

.book-text-input span {
  position: absolute;
  top: 16px;
  left: 0;
  padding: 0 5px;
  border-radius: 2px;
  font-weight: 600;
  color: #f0f0f0;
  background: #f42c1f;
}

#genre {
  position: relative;
}

#empty-genre {
  display: none;
  position: absolute;
  top: -2px;
  padding: 0 5px;
  border-radius: 2px;
  font-weight: 600;
  color: #f0f0f0;
  background: #f42c1f;
}

.book-text-input:focus-visible ~ span {
  display: none;
}

#same-title {
  top: 42px;
}

#empty-title {
  display: none;
}

#same-title {
  display: none;
}

#empty-author {
  display: none;
}

#genre {
  border-bottom: 2px solid #181712;
}

#genre-options {
  background: transparent;
  color: #757571;
  line-height: 1.2;
  padding: 0 5px;
  width: 100%;
  font-size: 20px;
  border-style: none;
}

#genre-options option {
  background-color: #959495;
  color: #f0f0f0;
  border: none;
  font-size: 16px;
}

#status {
  padding-top: 22px;
  margin-bottom: 30px;
}

.radio-button {
  display: block;
  margin: 10px 0;
  cursor: pointer;
}

#read {
  margin-top: 5px;
}

.radio-button input {
    display: none;
}

.radio-button input + span {
  line-height: 22px;
  height: 22px ;
  padding-left: 22px;
  display: block;
  position: relative;
}

.radio-button input + span:not(:empty){
  padding-left: 28px;
}

.radio-button span:before {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
  background: #757571;
  transition: .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
}

.radio-button span:after {  
   content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
  background: #757571;
  transform: scale(.78);
  transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
}

.radio-button input:checked + span:before {
  transform: scale(1.04);
  background: #f41f7b;
}

.radio-button input:checked + span:after {
  transform: scale(.4);
  transition: transform .3s ease;
}
  
.radio.button input:hover + span:before {
  transform: scale(.92);
}

.radio.button input:hover + span:after {
  transform: scale(.74);
}
            
#add-button {
  display: block;
  width: 100%;
  margin: auto;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f41f7b;
  color: #f0f0f0;
  font-size: 16px;
}

#add-button:hover {
  background-color: #181712;
  color: #f0f0f0;
}


/* BOOK LIST */
.book-list {
  display: none;
  position: relative;
  color: #181712;
}

.book-list .add-book-btn {
  position: absolute;
  bottom: -11%;
  left: 41%;
}

.book-card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.delete-book, .edit-book {
  position: absolute;
  right: 0;
  padding: 10px
}

.delete-book {
  top: 0;
}

.book-card {
  position: relative;
  margin: 0 auto 30px;
  background-color: #f0f0f0;
  border-left: 10px solid #f41f7b;
  border-radius: 5px;
  min-width: 280px;
}

.book-card:last-of-type {
  margin-bottom: 90px;
}

.card-title {
  margin: 0 0 10px;
  padding: 5px 14px 0;
  background-color: #f41f7b24;
  border-bottom: solid 2px #181712;
}

.card-title h3 {
  max-width: 222px;
  margin: 0;
  font-weight: lighter;
  text-align: left;
  text-transform: uppercase;
}

.book-details h3 {
  margin: 10px 0 0 16px;
  color: #181712;
  font-weight: 600;
  font-size: 16px;
}

.book-details p {
  padding-top: 0px;
  margin: 0 0 16px 16px;
  color: #f41f7b;
  text-align: left;
  font-size: 16px;
}

#status-button {
  margin: 0px 0 16px 16px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f41f7b;
  border: none;
  color: #f0f0f0;
  font-size: 16px;
  transition: 1s;
}

#status-button:hover {
  background-color: #181712;
  border: none;
  color: #f0f0f0;
}

.edit-book {
  position: absolute;
  bottom: 0;
  right: 0;
}
