/* reset  */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ececec;
}

/* typography */

body {
  font-family:'Noto Sans HK', sans-serif;
  font-size: 16px;
  color: #323339;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 20px;
}


/* layout */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 282px;
}

@media (min-width: 576px) {
  .container {
    max-width: 500px;
  }
}


/* site header */

#site-header {
  padding: 30px 0 20px;
  text-align: center;
}

#site-header h1 {
    margin-bottom: 10px;
}

/* site main */

.screen {
  background-color: white;
  text-align: right; 
  box-shadow: 3px 3px 10px #959495;
  padding: 20px 10px;
}

.item-wraper {
  margin: 0px;
  list-style-type: none;
  padding-left: 0;
}

.item {
  margin: 5px 0px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 10% 25% 25% auto;
  grid-template-rows: auto;
  justify-items: center;
}

.item-negative {
  color: red;
}

#name {
  font-weight: bold;
}

#price {
  justify-self: end;
}

#category {
  justify-self: center;
}

.delete-btn {
  border: none;
  background: white;
  padding: 5px;
  cursor: pointer;
}

.item:last-child {
  border-bottom: 2px solid black;
}

.negative:last-child {
  border-bottom: 2px solid black;
}

#total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bolder;
}

#total-label {
  margin: 0px 20px 0px 0px;
}

#total-amount {
  margin: 0px
}

.total-amount-negative {
  color: red;
}

#form-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
  margin-bottom: 10px;
}

#form-entry input {
  width: 40%;
  padding: 10px;
  margin-right: 14px;
  border: none;
  box-shadow: inset 0px 1px 10px 1px #bab8ba;
  background-color: white;
  font-size: 12px;
  text-align: right;
  color: #959495;
}

#categories-choice {
  width: 40%;
  margin-right: 14px;
  background-color: white;
  border: none;
  box-shadow: inset 0px 1px 10px 1px #bab8ba;
  padding: 5px;
  color: #959495;
}

@media (min-width: 576px) {
  #form-entry input {
    font-size: 24px;
  }
  
  #categories-choice {
    font-size: 24px;
  }
}

#form-entry input::placeholder {
  color: #959495;
}

#entry {
  width: 15%;
  background-color: #4abd85;
  box-shadow: 5px 5px 10px #959495;
  border: none;
  border-radius: 3px;
  transition: 1s;
  color: #323339;
  font-size: 14px;
}

#entry:hover {
  background-color: #348a60;
  color: white;
  box-shadow: none;
}

.feedback {
  display: flex;
  flex-direction: row;
  color: red;
  font-weight: bold;
}

.feedback > p {
  width: 40%;
  margin-top: 0;
  font-size: 16px;
}

#item-feedback {
  display: none;
}

#price-feedback {
  display: none;
}
