html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

html, body {
  height: 100%;
}

/* typography */

body {
  font-family: 'Courier New', Courier, monospace;
  color: #111111;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 48px;
  color: #febb02;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: #0d56bd;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  color: #0d56bd;
}

h4 {
  color: #0d56bd
}

p {
  font-size: 20px;
}

a {
  font-size: 14px;
}

ul {
  list-style-type: none;
}

/* layout */

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 3px;
  max-width: 631px;
  margin: 0 auto;
}

.container>* {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 1224px) {}

#site-header {
  grid-column: 1 / -1;
  justify-self: stretch;
  border-bottom: 2px solid gray;
}

#site-main {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  justify-self: start;
  padding-top: 0;
}

#site-footer {
  grid-column: 1 / -1;
  background-color: #febb02;
  justify-self: stretch;
}

/* site header */

#site-header h1 {
  padding-top: 10px;
  margin: 0 auto 33px;
  text-shadow: 2px 1px 1px #6a6767;
  text-align: center;
}

#site-header nav {
  margin: 0 auto 2px;
}

#site-header a {
  margin: 0;
  font-size: 10px;
  color: #111111;
  text-decoration: none;
  transition: 1s ease;
}

#site-header a:hover {
  color: #0d56bd;
}

@media (min-width: 768px) {
  #site-header a {
    font-size: 14px;
  }
  #site-header a:not(:last-child) {
    margin-right: 20px;
  }
}

/* site main */

#date-login {
  display: inherit;
  margin: 0 5px;
}

#time {
  font-size: 61%;
  color: #0d56bd;
}

.account {
  margin-left: auto;
}

.buttons {
  background-color: white;
  color: #0d56bd;
  border-radius: 2px;
  border: 1px solid #0d56bd;
  padding: 4px;
  cursor: pointer;
  transition: 1s ease;
}

.buttons:hover {
  background-color: #0d56bd;
  color: white;
}

.headlines h2 {
  font-size: 42px;
  margin-bottom: 0px;
}

.headlines h3 {
  margin: 0px;
}

.headlines ul {
  margin: 0px;
  padding: 10px 0 0 10px;
}

.headlines li {
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.headlines img {
  width: 100%;
}

.headline-news {
  padding-top: 20px;
  margin: 0 0 20px 10px;
}

.news {
  padding-top: 20px;
  margin: 0 0 20px 10px;
}

.news h3 {
  margin: 0px;
  padding-top: 10px;
  font-size: calc(22px + (26 - 22) * ((100vw - 300px) / (1600 - 300)));
}

.news article {
  padding: 10px 0 0 10px;
}

.news p {
  margin: 0px;
  margin-bottom: 10px;
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.footer-items {
  display: inherit;
  justify-content: space-around;
  padding: 10px;
}

.footer-items a {
  text-decoration: none;
  color: #111111;
}

.footer-items a:hover {
  color: #0d56bd;
}