html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fe3501;  
}

/* typography */

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #000000;
}

h1 {
  font-family: 'Playball', cursive;
  font-size: 55px;
  font-weight: lighter;
  margin-bottom: 5px;
}


p {
  font-size: 20px;
}

a {
  color: #000000;
}

/* layout */

.container {
  margin: 0 10px;
  max-width: 800px;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
  }

  #btn-container button:first-child {
  margin-right: 20px;
  }
}

@media (min-width : 1281px) {
  .container {
    max-width: 1240px;
  }
}

/* components */

.button {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 5%;
  border: 2px solid rgba(201, 159, 112, 0.993);
  background: linear-gradient(0deg, #ddd, #fff);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.59);
  font-size: 16px;
  text-shadow:1px 1px 1px #ffe6c9;
  color: #000;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, rgba(221, 221, 221, 0.835), rgba(255, 255, 255, 0.87));
  color: rgba(121, 83, 40, 0.993);
}

@media (min-width : 1224px) {
  .button{
    font-size: 20px;
  }
}


/* site header */

#site-header {
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width : 1224px) {
  #site-header {
    padding: 40px 0 20px;
  }
}

#site-header h1 {
  color: #ffe6c9;
  text-shadow: 1px 1px #000000;
  margin: 10px 10px 0 10px;
}

/* site main */

#site-main {
  min-height: 70vh;
  margin-bottom: 80px;
  line-height: 1.5;
}

#grid-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  color: #ffe6c9;
  font-size: 20px;
  font-weight: bold;
}

#grid-setup label {
  margin-bottom: 10px;
}

#grid-size {
  width: 32%;
  border: 1px solid grey;
  box-shadow: inset 0 1px 1px #648889;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 15px;
}

#game  {
  margin: 0 auto;
  padding-top: 10px;  
  margin-bottom: 10px;
}

#grid-container {
  display: grid;
  width: 60vw;
  height: 60vw;
  margin: 0 auto 15px;
  border: 1px solid grey;
  border-radius: 6px;
  background-color: white; 
  box-shadow: inset 0 2px 16px 2px rgba(16, 15, 15, 0.8);
}

#btn-container {
  display: inherit;
  margin: 0 auto;
  text-align: center;
}



#colour.is-on {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, rgba(221, 221, 221, 0.835), rgba(255, 255, 255, 0.87));
  color: rgba(121, 83, 40, 0.993);
}
