/* reset  */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #27302b;
}

/* typography */

body {
  font-family:'Noto Sans HK', sans-serif;
  font-size: 16px;
  color: #c4efd5;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 44px;
}

p {
  font-size: 20px;
}


/* layout */

.container {
  margin: 0 auto;
  width: 80%;
}

@media (min-width: 800px) {
  .container {
    max-width: 550px;
  }
}


/* site header */

#site-header {
  padding: 30px 0 20px;
  text-align: center;
}

#site-header h1 {
    margin-bottom: 10px;
}

/* site main */

.calculator {
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: 30% repeat(5, 1fr);
  grid-gap: 5px;
  height: 70vh;
  min-height: 26rem;
}

#screen {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 10px;
  border: none;
  box-shadow: inset 0px 1px 5px 1px #121614;
  text-align: right;
  background-color: #c4efd5;
  color: #121614;
  font-size: 16px;
}

#screen p {
  margin: 0;
}

#operations {
  margin-bottom: 10px;
  padding-top: 10px;
}

#result {
  display: block;
  padding-top: 26px;
  font-weight: 900;
}

.temp-result {
  color: #747977;
}

.button {
  background-color: #51635c;
  border: none;
  color: #c4efd5;
  font-size: 18px;
}

.button:hover {
  background-color: #c4efd5;
  color: #121614;
}

#equal {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 4;
}

#zero{
  grid-column-start: 2;
  grid-column-end: 4;
}


