/* reset  */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* typography */

body {
  font-family: Merriweather;
  font-size: 16px;
}

h1 {
  font-family: Amatic SC;
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 16px;
}

/* layout */

.container {
  margin: 0 20px;
  max-width: 800px;
}

@media (min-width: 840px) {
  .container {
    margin: 0 auto;
  }
}

/* site header */

#site-header {
  padding: 30px 0 20px;
  background-color: pink;
}

#site-header h1 {
  margin: 0;
}

/* site main */

#site-main {
  min-height: 70vh;
}

.button {
  background-color:#837d81;
  color: white;
  font-size: 12px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* site footer */

#site-footer {
  padding: 30px 0 20px;
  color: pink;
  background-color: black;
  border-top: 20px solid pink;
}