
.button {
  background-color: inherit;
  font-size: 12px;
  padding:  14px 16px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(236, 134, 151);
}

.button.active {
  background-color: crimson;
  color: white;
}

/* #hide-show  */

#hide-show .tabs {
  overflow: hidden;
  border-radius: 5px;
  background-color: pink;
}

#hide-show .images {
  padding: 6px 12px;
  border-top: none;
}

#hide-show img {
  display: none;
}

#hide-show img:first-child {
  display: initial;
}



/* #hide-show-abstract  */

#hide-show-abstract .tabs {
  overflow: hidden;
  border-radius: 5px;
  background-color: pink;
}

#hide-show-abstract .images {
  padding: 6px 12px;
  border-top: none;
}

#hide-show-abstract img {
  display: none;
}

#hide-show-abstract img:first-child {
  display: initial;
}