/* reset  */
html {
  box-sizing: border-box;
  }
  *, *:before, *:after {
  box-sizing: inherit;
  }
  
body {
  margin: 0;
  background-color: #ececec;
}
  
  /* typography */
  
body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  color: #323339;
}

h1 {
  font-family: 'Syncopate', sans-serif;
  font-size: 19px;
  font-weight: lighter;
}

h2 {
  font-size: 38px;
  font-weight: bold;
}

p {
  font-family: 'Syncopate', sans-serif;
  font-size: 10px;
  font-weight: bold;
}

a {
  color: #050505;
}

/* layout */

.container {
margin: 0 20px;
}

#site-main {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
} 

/* site header */

#site-header{
  text-align: center;
}
   
/* site main */

#players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game p {
  font-size: 20px;
}

.move {
  border: 10px solid #ccc;
  border-radius: 5px;
  width: 115px;
  height: 115px;
  margin-bottom: 80px;
}

#choices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

 #game-finish {
   display: block;
   text-align: center;
 }
#player-wins, #computer-wins {
  display: none;
}

#reset {
  border-radius: 5px;
  font-size: 45px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: none;
}

#rock {
  background-color: #0181bb;
}

#paper {
  background-color: #dede0e;
}

#scissors {
  background-color: #f96e91;
}

.button {
  border-radius: 5px;
  font-size: 40px;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
}

.move i {
  border-radius: 5px;
  font-size: 67px;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  display: none;
}

.move .rock {
  background-color: #0181bb;
}

.move .paper {
  background-color: #dede0e;
}

.move .scissors {
  background-color: #f96e91;
}

@media screen and (min-width:500px){
  h1{
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  .game p {
    font-size: 22px;
  }

  .move {
    width: 170px;
    height: 170px;
  }

  .move i {
    font-size: 122px;
  }

  .button {
    font-size: 80px;
  }
}

/* site footer */

#site-footer {
padding: 80px 0 20px;
text-align: center;
}